
.navbar{
  background-color: #FFFFFF ;
  border-radius: 8px;
}



.menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


.menu-item .material-icons-outlined {
  margin-right: 10px;
}


.boton{

  padding: 1rem;
  margin: 8px 0;
  text-decoration: none;
  color: black;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
  background-color: #FFFFFF;
  border: none;

}

.boton:hover{
 background-color: #28a745;
  color: #fff;

}


/* Button styles */
.btn-outline-success {
  border-color: #28a745;
  color: #28a745;
}

.btn-outline-success:hover {
  background-color: #28a745;
  color: #fff;
}